// --- setup -------------------------------------------------------------------

$button-border-radius: 4px;
$button-font-size: 16px;
$button-font-family: 'Helvetica Neue', Helvetica, sans-serif;
$button-padding: 0.75em 1em;

$button-base-color: #fff;
$button-base-bg: #aec0e3;
$button-primary-bg: #496EE8;
$button-secondary-bg: #20c77f;
$button-tertiary-bg: #e84949;

// --- mixins ------------------------------------------------------------------

@mixin bem-button($name, $bg) {
	.btn--#{$name} {
		background-color: $bg;
		@include bem-button-hover($bg);
	}
}

@mixin bem-button-hover($bg) {
	&:hover {
		background-color: lighten($bg, 5%);
	}
}

@mixin bem-button-size($name, $font-size) {
	.btn--#{$name} {
		font-size: $font-size;
	}
}

@mixin bem-button-bordered($name, $color) {
	.btn--bordered-#{$name} {
		background: $button-base-color;;
		border: 1px solid $color;
		color: $color;

		&:hover {
			background: $button-base-color;
			color: darken($color, 10%);
			border-color: darken($color, 10%);
		}
	}
}

// --- button ------------------------------------------------------------------

.btn {
	color: $button-base-color;  
	background-color: $button-base-bg;
  padding: $button-padding;
	display: inline-block;
	text-decoration: none;
	border-radius: $button-border-radius;
	font: $button-font-size $button-font-family;
	border: none;
	cursor: pointer;
	transition: background-color .2s, color .2s, border-color .2s;

	@include bem-button-hover($button-base-bg);

	&.is-disabled {
		background-color: #ccc;
		cursor: not-allowed;
	}
}

// --- button: sizes -----------------------------------------------------------

@include bem-button-size('small', 12px);
@include bem-button-size('large', 20px);

// --- button: variants --------------------------------------------------------

@include bem-button('primary', $button-primary-bg);
@include bem-button('secondary', $button-secondary-bg);
@include bem-button('tertiary', $button-tertiary-bg);

// --- button: bordered --------------------------------------------------------

@include bem-button-bordered('base', $button-base-bg);
@include bem-button-bordered('primary', $button-primary-bg);
@include bem-button-bordered('secondary', $button-secondary-bg);
@include bem-button-bordered('tertiary', $button-tertiary-bg);