// --- panel ------------------------------------------------------------------

.panel {
	width: 600px;
	background: #fff;
	margin: 0 auto;
	margin-bottom: 50px;
	border-radius: 10px;
	text-align: center;

	&__header,
	&__body,
	&__body-item,
	&__footer {
		padding: 20px;
	}

	&__header {		
		border-bottom: 2px solid #F9FBFF;
	}

	&__title {
		font-size: 24px;
		font-weight: 100;
	}

	&__body-item {
		border-bottom: 2px solid #F9FBFF;

		&:last-child {
			border-bottom: none;
		}
	}
}

.panel--flush {
	.panel__body {
		padding: 0;
	}
}